{
    "semi": true,
    "singleQuote": true,
    "jsxSingleQuote": true,
    "printWidth": 100,
    "tabWidth": 4,
    "trailingComma": "es5",
    "proseWrap": "always",
    "plugins": ["@trivago/prettier-plugin-sort-imports"],
    "importOrderSeparation": true,
    "importOrderSortSpecifiers": true
}
